<p id="notice"><%= notice %></p>

<div class="page__content">
  <%= link_to 'Back to home page', root_path %>

  <div class="page__header">
    <h1>Questions</h1>
    <%= link_to 'New Question', new_question_path, class: 'button' %>
  </div>

  <div class="table">
    <table>
      <tbody>
        <% @questions.each_with_index do |question, index| %>
          <tr>
            <td class="table__item"><%= index + 1 %></td>
            <td class="table__item"><%= question.code %></td>
            <td class="question-image"><%= image_tag(question.image) %></td>
            <td class="table__item"><%= link_to 'Show', question %></td>
            <td class="table__item"><%= link_to 'Edit', edit_question_path(question) %></td>
            <td class="table__item"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <tr>
            <td><div class="space-between-questions"></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
